/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * CSS
 * -------------------------------------------------------------------------- */

@import url("./default.css");
@import url("./components.css");
@import url("./twikoo.css");
@import url("katex/dist/katex.min.css");
@import url("https://fonts.googleapis.cn/css2?family=Noto+Serif+SC:wght@200..900&display=swap");
@import url("https://fonts.googleapis.cn/css2?family=Google+Sans+Code:ital,wght,MONO@0,300..800,1;1,300..800,1&display=swap");
@import url("/fonts/style.css");

/**
 * Variables
 * -------------------------------------------------------------------------- */

:root {
  /* font family */
  --vp-font-family-base: "LXGW WenKai", system-ui, sans-serif;
  --vp-font-family-mono: "Google Sans Code", var(--vp-font-family-base);
  /* only for title !!!!!! */
  --vp-font-family-title: "Noto Serif SC", var(--vp-font-family-base);

  /* Border Radius */
  --vp-border-radius-2: calc(var(--vp-border-radius-1) - 6px);
  --vp-border-radius-3: calc(var(--vp-border-radius-2) - 6px);
  --vp-border-radius-4: calc(var(--vp-border-radius-3) - 6px);

  /* Shadow */
  --vp-shadow:
    var(--vp-c-bg-alt) 0px 12px 25px -5px, var(--vp-c-bg-alt) 0px 7px 15px -7px;
  --vp-shadow-brand:
    var(--vp-c-brand-soft) 0px 12px 25px -5px,
    var(--vp-c-brand-soft) 0px 7px 15px -7px;
  --vp-shadow-negative:
    var(--vp-c-yellow-soft) 0px 12px 25px -5px,
    var(--vp-c-yellow-soft) 0px 7px 15px -7px;

  /* Blur */
  --vp-blur: blur(10px);

  /* Mini Icon Background */
  --vp-mini-bg: var(--vp-c-bg-elv);

  font-variant-alternates: styleset(
    open-digits,
    disambiguation,
    round-quotes-and-commas
  );

  &:dir(rtl) {
    --start: right;
    --end: left;
    --transform-start-far: translateX(100%);
    --transform-end-far: translateX(-100%);
  }

  @media (prefers-reduced-motion: reduce) {
    transition: none;
    scroll-behavior: auto;
  }
  font-synthesis: style;
  text-autospace: normal;
  text-size-adjust: none;
}

.dark {
  --vp-mini-bg: var(--vp-c-border);
}

